<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Heart Failure Prediction by Clinical Features</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <!-- 'Jumbotron' header  -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Heart Failure Prediction</h1>
        <h2>by Clinical Features</h2><br>
        <p><em>Use the interactive charts below to explore the dataset</em></p>
      </div>
    </div>
    
    <!-- Plot 1 -->
    <div class="row">
      <div class="col-md-12">
        <div id="plot1"></div>
      </div>
    </div>
    
    <!-- Plot 2 -->
    <div class="row">
      <div class="col-md-12">
        <select id="selDataset">
          <option value="All Sexes">All Sexes</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
        <div id="plot2"></div>
      </div>
    </div>

    <!-- Plot 3 -->
    <!-- Justine -->
    <div class="row">
      <div class="col-md-12">
        <div id="plot3"></div>
      </div>
    </div>

    <!-- Footer -->
    <div class="center">
      Heart Failure Prediction Dataset retrieved from 
      <a href="https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction" 
        target="_blank" rel="noopener noreferrer">Kaggle dataset </a> 
        created by fedesoriano (September 2021)
    </div>

  </div>

  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/logic.js"></script>
  
</body>
</html>